.map-card-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
}

.card-container-wrapper {
height: 400px;
    overflow-y: auto;
    overflow-x: none;
    width: 25%;
    margin: 1.5rem 0.5rem 1.5rem 1.5rem ;
    background-color: whitesmoke;
}

#dropdown-basic-search::after{
    display: none; 
 }

#new-holiday-button {
    border: none;  
}

#holidays-title{
    position: fixed;
    top: 9rem;
    left: 5.5rem;
} 
