.card-container-wrapper{
    /* scroll */
display: flex;
    flex-direction: column;
    position: relative;
    left: 45rem;
    bottom: 30rem;
    justify-content: right;
    width: 25%;
    height: 25rem; 
    overflow: auto
}

.card-body{
    padding: .75rem;
    font-size: .7rem
}

.card{
    margin:1rem
}