#holiday-page-container{
        margin-top:0;
    margin-left: 1rem;
    margin-right: 1rem;
}
.map-card-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4rem
}

.btn-toolbar{
    background-color:#3a99ff;
        display: flex;
    justify-content: flex-end;
}