#holiday-page-container{
    margin-top:0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.toolbar {
    margin: .5rem .25rem 0 0;
    display: flex;
}
.toolbar > * {
    margin: 0 .25rem
}

.parent {
    width: 100%;

}
#tape1{
    position: absolute;
    top: -15px;
    left: -17px;
    height: 50px;
    margin-right: 200px;
}

#tape2{
    position: absolute;
    top: 465px;
    right: -15px;
    height: 50px;
}

@media only screen and (max-width: 768px) {
    #bootstrap-overrides .map-card-box{
        display: flex;
        flex-direction: column;
    }
}