#navbar{
    background-color: #3a99ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .25rem 1rem;
    
}
a{
    color:black
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}