/* 
body{
    background-image: linear-gradient(#F1F8FE, #E0FBE8)
} */
#profile-page{
    margin-top:0;
    margin-left: 1rem;
    margin-right: 1rem;
    
  
}

#profile-welcome-message{
    margin-left: 2rem;
    margin-top: 2rem;}

.map-card-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4rem
}

.card-container-wrapper {
height: 400px;
    overflow-y: auto;
    width: auto;
    max-width: 25%;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: whitesmoke;
    border-radius: 1rem;
}

#dropdown-basic-search::after{
    display: none; 
 }

.card{
    background-color: lightgreen;
    border: none;
    border-radius: 0.75rem;
}
#new-holiday-button {
    background-color: lightgreen;
    border: none;
    position: relative;
left: 0rem;
    top: 11rem;
       border-radius: 2rem;
    box-shadow: 1px 1px whitesmoke
}

#holidays-title{
    position: relative;
    top: -1rem;
    text-align:center

}
