.message-box {
	height: 300px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: .5rem 0
}

.message {
	color: white;
	margin: .75rem 0;
	width: max-content;
	padding: .25rem .5rem;
	border-radius: .75rem;
	max-width: 200px;
	overflow-wrap: break-word;
}

.message small {
	margin-top: -1.5rem;
}

.message.me {
	background: #006cdf;
	align-self: flex-end;
}
.message.other {
	background: #6c757d;
}
.message.server {
	align-self: center;
	background: white;
	color: #444;
	max-width: auto;
	width: auto;
}

.chat-box {
	padding: .5rem;
	border-radius: .25rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 1px solid rgba(0,0,0,.125);
	max-width: 300px;
	position: fixed;
	right: 0;
	bottom: calc(48px + 1.5rem);
	z-index: 1002;
	background: white;
}

.chat-button {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 1005
}