.chat-box {
	display: flex;
	justify-content: flex-end;
	
	margin-right: 2rem;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	float: right;
	box-shadow: 0 35px 20px -30px rgba(0,0,0,0.1);
}

.chat-timeline {
	/* display: flex;
	height: 400px;
	padding: 1rem;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #fff;
	flex-direction: column-reverse;
	overflow-y: auto; */
	border: 1px, solid, gray;
}



.message-left  {
	float: left;
	text-align: left;
	margin: 0 0 0 1rem;
	color: #fff;
	background-color: #4870df;
	position: relative;
	max-width: 50%;
	min-height: 40px;
	padding: 0.75rem;
	border-radius: 4px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.08);
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* .message-left::before {
	content: '';
	position: absolute;
	top: 14px;
	left: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 10px 6px 0;
	border-color: transparent #4870df transparent transparent;
} */

.message-right {
	float: right;
	text-align: right;
	margin: 0 1rem 0 0;
	background-color: #fafafa;
	position: relative;
	max-width: 50%;
	min-height: 40px;
	padding: 0.75rem;
	border-radius: 4px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.08);
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
/* .message-right::after {
	content: '';
	position: absolute;
	top: 14px;
	right: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 10px;
	border-color: transparent transparent transparent #fafafa;
} */
.send-message{
	border-radius: 30px;
	height:2rem;
	font-size: .75rem;
	bottom: -6rem;
	float: right;
	position: relative;
	cursor: pointer;
	text-align: center;
	box-shadow: 0px 14px 10px -8px rgba(0,0,0,0.2);
}

.text-input{
	border-radius: 1.25rem;
	float: left;
	width: 35%;
	background-color: whitesmoke;
}

