#bootstrap-overrides #login-form{
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 40px;
    background-color: white;
}

#create-account{
    margin-left: 10px
}